.form{
    background-color: cadetblue;
}
.user{

    text-align: center;
}
h1{
    text-align: center;
}
#btn{ margin-left: 650px;
    text-align: center;
    height: 30px;
    width: 70px;
    border-radius: 200px;
}
#input{
    text-align: center;
    height: 40px;
    width: 400px;
    border-radius: 200px;
}