<div class="form" appHighlight>
<div class="user" >
    <h1 class="mt-4">GIT SEARCH</h1>
 <div class="" >
    <form action=""  (ngSubmit)='sendusername()' #userForm='ngForm' >
        <input   type="text" [(ngModel)]="search.name"  #name='ngModel'   name="username" id="username" placeholder="Enter github username"> 
        
        <div [hidden]="name.valid || name.pristine" >
            <p class="alert alert-danger" *ngIf="!search.name">Username is required</p>
          </div>
        
    </form> 
 </div>
</div> <br> <br> 

<div appHighlight class="container text-center m-20"> 
    <h2 class="login"> {{users.login}} {{ users.name }} </h2>
    <h2 class="repository"> Date Created: {{ users.created_at | date: 'short' }} </h2>
    <h2 class="repository"> Public Repo: {{ users.public_repos }} </h2>
    <h2 class="like"> Followers: {{ users.followers }} </h2>
    <h2 class="like"> Following: {{users.following }} </h2>
</div>
       
 </div>