
<div class="user">
    <h1>GIT SEARCH</h1>
<div class="">
    <form action="">
        <input   type="text"  name="username" id="username" placeholder="Enter github username"> <br> <br>
        <p>Username is required</p> <br> <br>
        <input type="submit" value="Submit" (click)="sendusername()" name="submit" id="btn">
    </form> 
 </div>
</div> 

        <div class="login"> {{users.login}} {{ users.name }} </div>
        <div class="repository"> Date Created: {{ users.created_at | date: 'short' }} </div>
        <div class="repository"> Public Repo: {{ users.public_repos }} </div>
       <div class="like"> Followers: {{ users.followers }} </div>
       <div class="like"> Following: {{users.following }} </div>
  
    
