<!-- <div class="nav">
    <nav>
      <ul>
          <li routerLink ="home" >Home</li> 
          <li routerLink ="form"  >search</li>
          <li>Contact</li>
          <li>Footer</li>
        </ul>
    </nav>
    </div>
    
    
    <router-outlet></router-outlet>
     -->


<div class="home">
<h1>WELCOME TO GIT FINDER</h1>
<div>
<P>KNOW MORE ABOUT PROGRAMMERS</P>
<h2>USERNAME: Alphine3900</h2>
  <p> github with the best projects <br> since when i joined the world of developers,<br>have created several repository like:
</p>
 <ul>
     <li>Photography website</li>
     <li>Delani studio website</li>
     <li>Street food website</li>
     <li>Ghanian naming website</li>
     <li>My portifolio website</li>
 </ul>
  

</div>
<div class="image">
    <img id="me" src="../../assets/4vkgs3.jpg" alt="">

</div> 
</div>